!!!5
html(lang='en-US')
  head
    title Minecraft Pixel Art Creator
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/static/styles/application.css', type='text/css', media='all')
    script(src='/static/js/jquery.min.js')
    script(src="/static/js/underscore.js")
    script(src="/static/js/backbone.full.js")
    script(src="/static/js/handlebars.js")
    script(src="/static/js/jquery.modal.js")
    block head
    link(rel="icon favicon", href="/static/images/favicon.png")

  body
    main
      block content
