!!!5
html(lang='en-US')
  head
    title Minecraft Pixel Art Creator
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/static/styles/application.css', type='text/css', media='all')
    script(src='/static/js/jquery.min.js')
    script(src='/static/js/application.js')
    link(rel="favicon", href="/static/images/favicon.png")

  body
    main
      block content
