extends layouts/application

block head
  script(src="static/js/list.js")

block content
  section#index
    header
      h1 All Designs

  script#item(type="text/x-handlebars")
    article
      figure
        a(href="{{screenshot}}")
          img(src="{{screenshot}}", alt="{{name}}")
      h1 {{name}}
