extends layouts/application

block head
  script(src='/static/js/application.js')

block content
  .controls
    a(href='#', id='grid') Grid off

  canvas.grid(width="960", height="960")

  #sidebar
    a.handle(href="#") &laquo;
    ul#wool
      li.active
        a.white(href='#') white
      each color in colors
        li
          a(href='#', class=color)= color
    a#erase(href="#") erase

    form(action="/save", method="post")
      p.error Name is blank
      p.success Pixel art saved!
      fieldset
        label Name
        input#name(type="text", name="name")
        input(type="submit", value="Save!")
