/*
----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:  	Tantek Celik, Shane Riley
    Version:  	(CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:	Resets default styling of common browsers to a common base
----------------------------------------
*/
ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em; }

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd, figure, figcaption {
  margin: 0;
  padding: 0; }

a img, :link img, :visited img, fieldset {
  border: none; }

address {
  font-style: normal; }

header, section, article, nav, footer, hgroup, details, summary, figure, main {
  display: block; }

mark {
  color: inherit;
  background: transparent; }

abbr {
  border: none; }

summary::-webkit-details-marker {
  display: none; }

html, body {
  font: normal 14px Helvetica, Arial, sans-serif; }

body {
  background: transparent url("/static/images/stone_brick.png") 50% 50% repeat; }

a.button {
  display: inline-block;
  -webkit-appearance: none;
  padding: 5px 10px;
  font: normal 13px Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  background: #0066cc; }

main {
  overflow: hidden;
  position: relative;
  width: 964px;
  padding: 30px;
  margin: 0 auto;
  background: white; }

canvas {
  margin: 0 27px 0 0;
  cursor: crosshair;
  border: 2px solid #0066cc; }
  canvas.grid {
    background: transparent url("/static/images/bg_canvas.png") repeat; }

.notice {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 100;
  padding: 3px 8px;
  font-size: 16px;
  font-weight: bold;
  color: #339933;
  border: 2px solid #339933;
  background: #ccffcc; }

#sidebar {
  position: absolute;
  right: -222px;
  top: 70px;
  z-index: 1;
  width: 200px;
  padding: 10px;
  border: 1px solid #acacac;
  background: #f9f9f9;
  -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: right ease 200ms;
  -moz-transition: right ease 200ms;
  -o-transition: right ease 200ms; }
  #sidebar a.handle {
    position: absolute;
    left: -19px;
    top: -1px;
    z-index: -1;
    width: 18px;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: #333333;
    cursor: pointer;
    border: 1px solid #acacac;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #f9f9f9;
    -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3); }
    #sidebar a.handle:after {
      position: absolute;
      top: 0;
      left: 18px;
      bottom: 0;
      z-index: 1;
      width: 2px;
      content: "";
      background: #f9f9f9; }
  #sidebar.opened {
    right: -2px; }

ul#wool {
  width: 110px; }
  ul#wool li {
    float: left;
    margin: 0 0 3px 3px;
    padding: 1px;
    border: 1px solid white; }
    ul#wool li.active {
      border-color: black; }
  ul#wool a {
    display: block;
    width: 48px;
    height: 48px;
    text-indent: -8685px;
    overflow: hidden;
    background: transparent url("/static/images/wool.png") 0 0 no-repeat; }
    ul#wool a.white {
      background-color: #dddddd;
      background-position: -0px 0; }
    ul#wool a.orange {
      background-color: #db7d3e;
      background-position: -48px 0; }
    ul#wool a.magenta {
      background-color: #b350bc;
      background-position: -96px 0; }
    ul#wool a.light_blue {
      background-color: #6b8ac9;
      background-position: -144px 0; }
    ul#wool a.yellow {
      background-color: #b1a627;
      background-position: -192px 0; }
    ul#wool a.lime {
      background-color: #41ae38;
      background-position: -240px 0; }
    ul#wool a.pink {
      background-color: #d08499;
      background-position: -288px 0; }
    ul#wool a.gray {
      background-color: #404040;
      background-position: -336px 0; }
    ul#wool a.light_gray {
      background-color: #9aa1a1;
      background-position: -384px 0; }
    ul#wool a.cyan {
      background-color: #2e6e89;
      background-position: -432px 0; }
    ul#wool a.purple {
      background-color: #7e3db5;
      background-position: -480px 0; }
    ul#wool a.blue {
      background-color: #2e388d;
      background-position: -528px 0; }
    ul#wool a.brown {
      background-color: #4f321f;
      background-position: -576px 0; }
    ul#wool a.green {
      background-color: #35461b;
      background-position: -624px 0; }
    ul#wool a.red {
      background-color: #963430;
      background-position: -672px 0; }
    ul#wool a.black {
      background-color: #191616;
      background-position: -720px 0; }

#erase {
  float: right;
  width: 48px;
  height: 48px;
  text-indent: -8685px;
  overflow: hidden;
  border: 1px solid #f9f9f9;
  background: transparent url("/static/images/btn_erase.png") 0 0 no-repeat; }
  #erase.active {
    border-color: black;
    background-position: 0 100%; }

form {
  clear: both;
  padding: 20px 0 0 3px; }
  form label {
    display: block;
    padding: 0 0 5px 0; }
  form input[type="text"] {
    width: 100%;
    height: 26px;
    padding: 3px 5px;
    margin: 0 0 10px 0;
    font: normal 13px Helvetica, Arial, sans-serif;
    color: #181818;
    border: 1px solid silver;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    form input[type="text"]:focus {
      outline: none; }
  form input[type="submit"] {
    display: inline-block;
    -webkit-appearance: none;
    padding: 5px 10px;
    font: normal 13px Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    background: #0066cc;
    margin: 0 5px 0 0; }
  form p.error,
  form p.success {
    display: none;
    padding: 5px;
    margin: 0 0 10px 0;
    font-size: 12px;
    font-weight: bold; }
  form p.error {
    color: #b00b00;
    border: 2px solid #b00b00;
    background: #fccfcc; }
  form p.success {
    color: #339933;
    border: 2px solid #339933;
    background: #ccffcc; }

.controls {
  padding: 0 0 15px 0; }
  .controls a {
    display: inline-block;
    -webkit-appearance: none;
    padding: 5px 10px;
    font: normal 13px Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    background: #888888;
    margin: 0 5px 0 0; }

#index header {
  padding: 0 0 10px 0; }
  #index header h1 {
    font-size: 24px; }
#index article {
  padding: 15px 0; }
  #index article h1 {
    display: inline-block;
    padding: 0 15px 0 0;
    font-size: 18px;
    vertical-align: middle; }
    #index article h1 a {
      color: #0066cc;
      text-decoration: none; }
  #index article figure {
    display: inline-block;
    width: 48px;
    margin: 0 15px 0 0;
    vertical-align: middle; }
    #index article figure a {
      cursor: zoom-in;
      cursor: -webkit-zoom-in; }
    #index article figure img {
      width: 100%;
      border: 1px solid #cecece; }
  #index article a.delete {
    display: inline-block;
    -webkit-appearance: none;
    padding: 5px 10px;
    font: normal 13px Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    background: #b00b00;
    vertical-align: middle; }
  #index article + article {
    border-top: 1px solid #f0f0f0; }

#modal {
  display: none;
  z-index: 100;
  background: white; }

#modal_layer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6); }
